<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Демо Bootstrap</title>
    <!--    <link rel="stylesheet" type="text/css" href="/res/css/bootstrap.min.css" th:href="@{../res/css/bootstrap.min.css}"-->
    <!--          media="all">-->
    <link media="all" rel="stylesheet" th:href="@{../res/css/new_admin.css}" type="text/css">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
</head>
<body>
<header class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"><b th:text="${this_user.getUsername()}"></b>
            with roles: <span th:each="role, itemStat : ${this_user.getRoles()}"
                              th:text="${itemStat.last} ? ${role.getSimpleName()} : ${role.getSimpleName()} + ', '"></span></a>
        <a class="nav-link navbar-nav" th:href="@{/logout}" th:text="logout"></a>
    </div>
</header>
<div class="container-fluid bg-light">
    <div class="row flex-xl-nowrap">
        <div class="bd-sidebar pt-3 col-12 col-md-3 col-xl-2 bg-white">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <!--            TODO Сделать ссылки на editUser-->
                    <a aria-current="page" data-bs-toggle="modal" href="#"
                       th:class="${user.getUsername() == this_user.getUsername()} ? 'nav-link active' : 'nav-link'"
                       th:data-bs-target="${'#edituser'+user.getId()}"
                       th:each="user : ${users}" th:text="${user.getUsername()}">

                    </a>
                </li>
            </ul>
        </div>
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main" style="padding-left: 30px">
            <h1 class="bd-title" th:text="'Admin panel'"></h1>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a aria-controls="users_table" aria-selected="true" class="nav-link active" data-toggle="tab"
                       href="#users_table"
                       id="users_table-tab" role="tab">Users table</a>
                </li>
                <li class="nav-item">
                    <a aria-controls="new_user" aria-selected="false" class="nav-link" data-toggle="tab"
                       href="#new_user"
                       id="new_user-tab" role="tab">New user</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">

                <div aria-labelledby="users_table-tab" class="tab-pane show active" id="users_table"
                     role="tabpanel">
                    <table class="table table-striped table-bordered">
                        <tr class="table-light">
                            <th><h5 th:text="'All users'"/></th>
                        </tr>
                        <tr>
                            <td>
                                <table class="table table-striped table-hover border-top table-borderless">

                                    <thead class="table-light">
                                    <tr>
                                        <th scope="col">id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">LastName</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Username</th>

                                        <th scope="col">Roles</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user: ${users}">
                                        <td class="user_id" th:text="${user.getId()}">id</td>
                                        <td class="name" th:text="${user.getName()}">
                                            model
                                        </td>
                                        <td class="last_name"
                                            th:text="${user.getLastName()}">series
                                        </td>
                                        <td class="age" th:text="${user.getAge()}">series
                                        </td>
                                        <td class="username"
                                            th:text="${user.getUsername()}">
                                            series
                                        </td>


                                        <td class="roles_cell" style="align:center">

                                                <span
                                                        th:each="role, itemStat : ${user.getRoles()}"
                                                        th:text="${itemStat.last ? role.getSimpleName() : role.getSimpleName() + ', '}"
                                                ></span>
                                        </td>

                                        <td>
                                            <button class="btn btn-primary edit_btn" data-bs-toggle="modal"
                                                    th:data-bs-target="${'#edituser'+user.getId()}"
                                                    type="button">Edit
                                            </button>
                                            <th:block th:replace="modals/edit :: edit(${'edituser'+user.getId()},
                                            ${user.getId()},
                                            ${user.getName()},
                                            ${user.getLastName()},
                                            ${user.getAge()},
                                            ${user.getUsername()},
                                            ${user.getPassword()},
                                            ${user.getRoles()},
                                            ${defRoles})">modal
                                            </th:block>

                                        </td>
                                        <td class="remove">
                                            <button class="btn btn-danger remove_btn" data-bs-toggle="modal"
                                                    th:data-bs-target="${'#deluser'+user.getId()}">Remove
                                            </button>
                                            <th:block th:replace="modals/delete :: delete(${'deluser'+user.getId()},
                                            ${user.getId()},
                                            ${user.getName()},
                                            ${user.getLastName()},
                                            ${user.getAge()},
                                            ${user.getUsername()},
                                            ${user.getPassword()},
                                            ${user.getRoles()},
                                            ${defRoles})">modal
                                            </th:block>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>

                </div>

                <div aria-labelledby="new_user-tab" class="tab-pane justify-content-center" id="new_user"
                     role="tabpanel">
                    <table class="table table-striped table-bordered">
                        <tr class="table-light">
                            <th><h5 th:text="'Create new user'"/></th>
                        </tr>
                        <tr class="bg-white">
                            <td class="align-content-center">
                                <div class="container pt-3 text-center font-weight-bold">
                                    <form method="POST" th:action="@{admin/new}" th:object="${newUser}">

                                        <label class="form-label"> Name:
                                            <input class="form-control" name="name" th:field="*{name}">
                                        </label>
                                        <br/>
                                        <label class="form-label"> Lastname:
                                            <input class="form-control" name="lastName" th:field="*{lastName}">
                                        </label>
                                        <br/>
                                        <label class="form-label"> Age:
                                            <input class="form-control" name="age" type="number" max="127" min="-128"
                                                   th:field="*{age}">
                                        </label>
                                        <br/>
                                        <label class="form-label"> Username:
                                            <input class="form-control" name="Username" th:field="*{username}">
                                        </label>

                                        <br/>

                                        <label class="form-label"> Password:
                                            <input class="form-control" name="Password" th:field="*{password}"
                                                   type="password">
                                        </label>

                                        <br/>

                                        <span>
                                        <label class="form-label">Roles:
                                        <div class="font-weight-normal">
                                            <input class="form-check-input pe-1" name="roles"
                                                   th:each="role : ${defRoles}"
                                                   th:field="*{roles}"
                                                   th:id="'role-' + ${role.getId()}"
                                                   th:utext="${'<label class=&quot;form-check-label pe-2&quot; for=&quot;role-'+role.getId()+'&quot;>'+role.getSimpleName()+'</label>'}"
                                                   th:value="${role.id}"
                                                   type="checkbox"
                                            />
                                        </div>
                                        </label>
                                        </span>


                                        <br/>

                                        <input class="btn btn-success" type="submit" value="Add user"/>

                                    </form>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </main>
    </div>
</div>
    <div aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" class="modal fade" id="okModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Выполнено</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    Изменения сохранены.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-dismiss="modal">Ок</button>
                </div>
            </div>
        </div>
    </div>
    <iframe name='hidden_frame' src='' style="display: none">
    </iframe>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>


    <script defer src="/res/js/admin.js" th:src="@{../res/js/admin.js}"></script>


    <!--<script src="/res/js/bootstrap.bundle.min.js" th:src="@{../res/js/bootstrap.bundle.min.js}" defer></script>-->
    <!--<script src="/res/js/bootstrap.bundle.min.js" th:src="@{../res/js/bootstrap.bundle.min.js}"></script>-->
</body>
</html>