<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Демо Bootstrap</title>
    <!--    <link rel="stylesheet" type="text/css" href="/res/css/bootstrap.min.css" th:href="@{../res/css/bootstrap.min.css}"-->
    <!--          media="all">-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{../res/css/new_admin.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<header class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"><b th:text="${#authentication.getName()}"></b>
            with roles: <span th:each="role, itemStat : ${#authentication.getAuthorities()}"
                              th:text="${itemStat.last} ? ${role.getSimpleName()} : ${role.getSimpleName()} + ', '"></span></a>
        <a class="nav-link navbar-nav" th:text="logout" th:href="@{/logout}"></a>
    </div>
</header>
<div class="container-fluid bg-light">
    <div class="row flex-xl-nowrap">
        <div class="row flex-xl-nowrap">
            <div class="bd-sidebar pt-3 col-12 col-md-3 col-xl-2 bg-white">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <!--            TODO Сделать ссылки на editUser-->
                        <a href="#"
                           class="nav-link active"
                           th:text="${#authentication.name}">

                        </a>
                    </li>
                </ul>
            </div>
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main" style="padding-left: 30px">
            <h1 class="bd-title" th:text="'Admin panel'"></h1>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a aria-controls="users_table" aria-selected="true" class="nav-link active" data-toggle="tab"
                       href="#users_table"
                       id="users_table-tab" role="tab">Users table</a>
                </li>
                <li class="nav-item">
                    <a aria-controls="new_user" aria-selected="false" class="nav-link" data-toggle="tab"
                       href="#new_user"
                       id="new_user-tab" role="tab">New user</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">

                <div aria-labelledby="users_table-tab" class="tab-pane show active" id="users_table"
                     role="tabpanel">
                    <table class="table table-striped table-bordered">
                        <tr class="table-light">
                            <th><h5 th:text="'All users'"/></th>
                        </tr>
                        <tr>
                            <td>
                                <table class="table table-striped table-hover border-top table-borderless all-users-table">

                                    <thead class="table-light">
                                    <tr>
                                        <th scope="col">id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">LastName</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Username</th>

                                        <th scope="col">Roles</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>

                </div>

                <div aria-labelledby="new_user-tab" class="tab-pane justify-content-center new-user-tab" id="new_user"
                     role="tabpanel">
                    <table class="table table-striped table-bordered">
                        <tr class="table-light">
                            <th><h5 th:text="'Create new user'"/></th>
                        </tr>
                        <tr class="bg-white">
                            <td class="align-content-center">
                                <div class="container pt-3 text-center font-weight-bold">

                                    <label class="form-label"> Name:
                                        <input class="form-control" name="name">
                                    </label>
                                    <br/>
                                    <label class="form-label"> Lastname:
                                        <input class="form-control" name="lastName">
                                    </label>
                                    <br/>
                                    <label class="form-label"> Age:
                                        <input class="form-control" name="age" type="number" max="127" min="0">
                                    </label>
                                    <br/>
                                    <label class="form-label"> Username:
                                        <input class="form-control" name="username">
                                    </label>

                                    <br/>

                                    <label class="form-label"> Password:
                                        <input class="form-control" name="password"
                                               type="password">
                                    </label>

                                    <br/>


                                    <label class="form-label roles-label">Roles:

                                    </label>


                                    <br/>

                                    <input class="btn btn-success btn-add-user" type="button" value="Add user"/>


                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </main>
    </div>

</div>

<div class="modal fade edit-user-modal"
     id="editUser" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container pt-3 text-center font-weight-bold">
                    <label class="form-label"> Name:
                        <input class="form-control" name="name">
                    </label>
                    <br/>
                    <label class="form-label"> Lastname:
                        <input class="form-control" name="lastName">
                    </label>
                    <br/>
                    <label class="form-label"> Age:
                        <input class="form-control" type="number" max="127"
                               min="0" name="age">
                    </label>
                    <br/>
                    <label class="form-label"> Username:
                        <input class="form-control" name="username">
                    </label>
                    <br/>
                    <label class="form-label"> Password:
                        <input class="form-control" type="password" name="password">
                    </label>
                    <br/>
                    <label class="form-label roles-edit-label"></label>
                    <br/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary save-edit-user">Изменить
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade"
     id="deleteUser" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container pt-3 text-center font-weight-bold">
                    <label class="form-label"> Name:
                        <input class="form-control" name="name" disabled readonly>
                    </label>
                    <br/>
                    <label class="form-label"> Lastname:
                        <input class="form-control" name="lastName" disabled readonly>
                    </label>
                    <br/>
                    <label class="form-label"> Age:
                        <input class="form-control" type="number" name="age" disabled readonly>
                    </label>
                    <br/>
                    <label class="form-label"> Username:
                        <input class="form-control" name="username" disabled readonly>
                    </label>

                    <br/>

                    <label class="form-label"> Password:
                        <input class="form-control" name="password" disabled readonly>
                    </label>

                    <br/>


                    <label class="form-label roles-remove-label"></label>

                    <br/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary remove-user">Удалить
                </button>
            </div>

            </form>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>


<script defer th:src="@{../res/js/rest_admin.js}"></script>


<!--<script src="/res/js/bootstrap.bundle.min.js" th:src="@{../res/js/bootstrap.bundle.min.js}" defer></script>-->
<!--<script src="/res/js/bootstrap.bundle.min.js" th:src="@{../res/js/bootstrap.bundle.min.js}"></script>-->

</html>