<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Демо Bootstrap</title>
  <!--    <link rel="stylesheet" type="text/css" href="/res/css/bootstrap.min.css" th:href="@{../res/css/bootstrap.min.css}"-->
  <!--          media="all">-->
  <link rel="stylesheet" type="text/css" media="all" th:href="@{../res/css/new_admin.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<header class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"><b th:text="${this_user.getUsername()}"></b>
      with roles: <span th:each="role, itemStat : ${this_user.getRoles()}"
                        th:text="${itemStat.last} ? ${role.getSimpleName()} : ${role.getSimpleName()} + ', '"></span></a>
    <a class="nav-link navbar-nav" th:text="logout" th:href="@{/logout}"></a>
  </div>
</header>
<div class="container-fluid bg-light">
  <div class="row flex-xl-nowrap">
    <div class="bd-sidebar pt-3 col-12 col-md-3 col-xl-2 bg-white">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <!--            TODO Сделать ссылки на editUser-->
          <a href="#" data-bs-toggle="modal"
             th:data-bs-target="${'#edituser'+this_user.getId()}"
             th:class="${this_user.getUsername() == this_user.getUsername()} ? 'nav-link active' : 'nav-link'"
             th:text="${this_user.getUsername()}" aria-current="page">

          </a>
        </li>
      </ul>
    </div>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" style="padding-left: 30px" role="main">
      <h1 class="bd-title" th:text="'User information page'"></h1>

      <div class="tab-content" id="myTabContent">

          <table class="table table-striped table-bordered">
            <tr class="table-light">
              <th><h5 th:text="'About user'"/></th>
            </tr>
            <tr>
              <td>
                <table class="table table-striped table-hover border-top table-borderless">

                  <thead class="table-light">
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Age</th>
                    <th scope="col">Username</th>
                    <th th:if="${this_user.isAdmin()}" scope="col">Password</th>
                    <th scope="col">Roles</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="user_id" th:text="${this_user.getId()}">id</td>
                    <td class="name" th:text="${this_user.getName()}">
                      model
                    </td>
                    <td class="last_name"
                        th:text="${this_user.getLastName()}">series
                    </td>
                    <td class="age" th:text="${this_user.getAge()}">series
                    </td>
                    <td class="username"
                        th:text="${this_user.getUsername()}">
                      series
                    </td>
                    <td class="password form-control"
                        th:if="${this_user.isAdmin()}"
                        th:type="password"
                        th:text="${this_user.getPassword()}">
                      series
                    </td>


                    <td style="align:center" class="roles_cell">

                                                <span
                                                        th:each="role, itemStat : ${this_user.getRoles()}"
                                                        th:text="${itemStat.last ? role.getSimpleName() : role.getSimpleName() + ', '}"
                                                ></span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>





    </main>
  </div>
</div>
<div class="modal fade" id="okModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2">Выполнено</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Изменения сохранены.
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal">Ок</button>
      </div>
    </div>
  </div>
</div>
<iframe name='hidden_frame' style="display: none" src=''>
</iframe>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>


<script src="/res/js/admin.js" th:src="@{../res/js/admin.js}" defer></script>



<!--<script src="/res/js/bootstrap.bundle.min.js" th:src="@{../res/js/bootstrap.bundle.min.js}" defer></script>-->
<!--<script src="/res/js/bootstrap.bundle.min.js" th:src="@{../res/js/bootstrap.bundle.min.js}"></script>-->
</body>
</html>