tr th{
    font-weight:bold;
}
tr th, tr td{
    padding:5px;
}
th{
    border: 5px solid #C1DAD7;
}
td{
    border: 5px solid #C1DAD7;
}
.user_id{
    background:#4b8c74;
}
.name{
    background:#74c476;
}
.last_name{
    background:#a4e56d;
}
.age{
    background:#cffc83;
}
td .save{
    background:#4b8c74;
}
td .remove {
    background: #74c476;
}